{{#partial "content"}}

{{#if delete}}
<div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> the breed was deleted.
</div>
{{/if}}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h3 class="panel-title">Type details</h3>
            </div>
            <div class="col-md-1">
                <p class="control-links" data-placement="top" data-toggle="tooltip" title="Admin Types"><a href="/type" class="btn btn-default btn-xs" data-title="Admin Types"><span class="glyphicon glyphicon-home"></span></a></p>
            </div>
            <div class="col-md-1">
                <p class="control-links" data-placement="top" data-toggle="tooltip" title="Add a new breed"><a href="/type/{{type.id}}/breed/new"class="btn btn-default btn-xs" data-title="Add a new breed"><span class="glyphicon glyphicon-plus"></span></a></p>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p>Name: {{ type.name }}</p>
        <p>Description:{{ type.description }}</p>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {{#if breeds}}
            {{#each breeds}}
            <tr>
                <th scope="row">1</th>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>
                    <div class="row">
                        <div class="col-md-2">
                            <p data-placement="top" data-toggle="tooltip" title="View"><a href="/type/{{type.id}}/breed/{{id}}/view" class="btn btn-warning btn-xs" data-title="View"><span class="glyphicon glyphicon-eye-open"></span></a></p>
                        </div>
                        <div class="col-md-2">
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/type/{{type.id}}/breed/{{id}}/update" class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></a></p>
                        </div>
                        <div class="col-md-2">
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/type/{{typeId}}/breed/{{id}}/delete" class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></a></p>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
            {{/if}}
            </tbody>
        </table>
    </div>
</div>

{{/partial}}

{{> layout.hbs}}